

.btn.btn-primary {
    color: #FFFFFF;
    width: 361px;
    height: 331px;
    top: 493px;
    left: 415px;
    gap: 0px;
    border-radius: 16px;
    border: 1px;
    background: transparent !important;
    border-image: linear-gradient(53.04deg, #4016A0 -9.53%, #3F59E4 11.14%, #4CB7A3 31.65%, #4CB7A3 66.72%, #3F59E4 87.79%, #4016A0 108.56%)!important;
}

.btn.btn-secondary {
    background-color: #191919 !important;
}

a {
    color: #d2dae2;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #d2dae2;
    text-decoration: underline;
}

