.btn.btn-primary {
    background: rgba(30, 39, 46, 75%);
    border: 1.5px solid;
    border-color: #fff;
}

.btn.btn-primary:hover {
    background-color: #1e272e;
}

a {
    color: #d2dae2;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #d2dae2;
    text-decoration: underline;
}

